.root {
	--popup-background-color: #FAFAFAEE;
	--background-color: #FAFAFA;
	--separator-color: #2e49a3;
	--sm-gap: 0.32em;
	--tiny-gap: 0.1em;
	--sm-gap: 0.32em;
	--md-gap: 0.65em;
	--lg-gap: 1.25em;

	--md-depth:10000;
	--high-depth:30000;



}

body * {
	box-sizing: border-box;
}

input[type="button"], button, div.text-button, div.popup-close {
	background-color: #e7e5e5;
	border-radius: var(--sm-radius);
	border: 1px solid #0006;
	padding: var(--sm-gap);
	margin: var(--sm-gap);
	text-align: center;

}

div.popup {
	height:auto;
	min-height:100px;
	min-width:240px;
	position: absolute;
	opacity:1;
	z-index:var(--md-depth);
	align-self: center;
	background:inherit;
	background-clip: border-box;
	padding:var(--md-gap);
	background-color: var( --background-color);
	border: 2px solid rgb(40, 40, 216);
	border-radius: 0.20rem;
}

/** button won't respect absolute position by itself **/
div.popup div.popup-close {
	position: absolute;
	z-index: var(--high-depth);
	cursor: default;
	top: var(--sm-gap);
	right: var(--sm-gap);
}


.separate {
	display:flex;
	flex-flow: row nowrap;
	justify-content: space-between;
}