<script>

import Upload from 'ui/components/upload.vue';

export default {

	props:[ 'module'],

	components:{

	},
	computed:{

	},
	methods:{

	}

}
</script>

<template>

	<div>

		<upload accept="text/json" />

		<label :for="elmId('name')">Name</label>
		<input :id="elmId('name')" type="text" v-model="module.name"
			title="Unique internal name." placeholder="unique name">
		<label :for="elmId('title')">Title</label>
		<input :id="elmId('title')" type="text" v-model="module.title"
			title="Title displayed to user." placeholder="display title">
		<label :for="elmId('desc')">Description</label>
		<input :id="elmId('desc')" type="text" v-model="module.desc" placeholder="description">
		<textarea :id="elmId('json')" cols="50" v-model="module.text" placeholder="module data"></textarea>

		<button @click="save">Save</button>

	</div>

</template>