<script>
export default {

	/**
	 * @property {ModuleInfo[]} modules
	 */
	props:['modules','owned'],
	methods:{

		viewModule(v){

			$emit( 'viewModule', m );
		},

		deleteMod(m){
			$emit('deleteModule', m);
		}

	}

}
</script>
<template>
	<div>

		<div v-for="m in modules" :key="m.id">

			<span>{{m.name }}</span>
			<span>{{m.title}}</span>
			<button @click="viewModule(m)">View</button>
			<confirm v-if="owned" @confirm="deleteMod(m)">Delete</confirm>
		</div>

	</div>
</template>