<script>
import Upload from 'ui/components/upload.vue';

export default {

	props:[''],
	components:{
		upload:Upload
	},
	computed:{

		/**
		 * actual upload control.
		 */
		upload:Upload
	},
	methods:{

	}

}
</script>
<template>
	<div>
		<span>Upload File:</span><upload />
	</div>
</template>