<script>
import {Profile} from 'user/profile';

import ModuleList from '../modules/moduleList.vue';

export default {

	props:[''],
	data(){

		return {
			profile:Profile.getState()
		}

	},
	components:{
		upload:UpModule,
		modList:ModuleList
	},
	computed:{

	},
	methods:{

		deleteModule(m){
		}

	}

}
</script>
<template>
	<div>

		<modList owned="true" @delete="deleteModule" />

	</div>
</template>